.login-as {
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../../assets/bglogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-as-student, .login-as-vendor {
    /* border: 2px solid black; */
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    width: 25%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-as-student:hover, .login-as-vendor:hover {
    background-color: white;
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px #340c35;
}

.login-as-student h3, .login-as-vendor h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #e6e7e8;
    text-shadow: 4px 2px #340c35;
    cursor: default;
}

.login-as-student:hover h3, .login-as-vendor:hover h3{
    color: #340c35;
    text-shadow: none;
}

.link-loginas {
    text-decoration: none;
}