/* CVBuilder.css */
.cv-builder-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    height: 100%;
    /* margin-left: 17%; */
}

.template-selection {
    text-align: center;
    margin-bottom: 20px;
}

.cpb{
    display: flex;
    justify-content: space-evenly;
}

.template-previews {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.template-option {
    cursor: pointer;
    transition: transform 0.2s;
}

.template-option:hover {
    transform: scale(1.05);
}

.template-option img {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.template-option p {
    margin-top: 10px;
    font-size: 1rem;
}

.cv-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.cv-header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #340c35;
    margin-bottom: 20px;
    color: #340c35;
}

.cv-form {
    width: 40%;
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 50px 50px;
    /* background-color: #ffffff; */
    box-shadow: 0 2px 10px rgb(91, 40, 117);
}

.cv-button {
    background-color: #730375;
}

.cv-button:hover {
    background-color: #340c35;
}

.p-info{
    border: 2px solid #555;
    margin: 10px 5px;
    width: 100%;
    background: none;
}

.cv-preview {
    width: 50%;
    padding: 20px;
    /* background-color: #ffffff; */
    /* border: 2px solid black; */
    /* border-radius: 8px; */
    box-shadow: 2px 2px 10px rgb(91, 40, 117);
    position: relative;
    margin-left: 20px;
}

.back-button {
    background-color: #730375;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.back-button:hover {
    background-color: #340c35;
}

.download-link {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.download-link:hover {
    background-color: #218838;
}

.cv-pagebuttons{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    width: 100%;
    margin-top: 8px;
}



.heading-top-routes{
    text-align: center;
    width: 100%;
    padding: 20px;
    background: #fff0cc;
    font-family: cursive;
}