.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Personal-Info{
    width: 50%;
}
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-photo {
    margin-right: 20px;
}

.profile-photo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #736464;
    object-fit: cover;
}
.profile-photo-post {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #736464;
    object-fit: cover;
}

.profile-photo-img:hover {
    transform: scale(1.1);
    transition: 1.2s;
    border: 2px solid #ad0000;
}

.profile-tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile-tabs button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #b9acac;
    cursor: pointer;
}

.profile-tabs button.active {
    background-color: #000000;
}

.profile-content {
    width: 100%;
    max-width: 800px;
}

.personal-info, .cv-info, .user-posts {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-posts .post {
    margin-bottom: 15px;
}

.user-posts .post h4 {
    margin: 0 0 5px;
}





/*  */
.post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    max-width: 60%;
    margin: auto;
}

.post-header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
}

.profile-photo {
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.img-post {
    margin-bottom: 10px;
    width: 40%;
}

.post-actions {
    display: flex;
flex-direction: column;
    margin-top: 10px;
}

.post-actions button {
    /* background: none; */
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.like-btn{
    background-color: #490d46;
}