.service-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #340c35;
    /* background-image: url("../../assets/ServicesBg.png");
    background-position: center;
    background-size: cover; */
    /* border: 2px solid black; */
}

.service-detail {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: bold;
}

.service-list {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    width: 90%;
}

.service-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 18%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgb(58, 58, 58);
    transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.service-list-container:hover {
    background-color: #340c35;
    color: white;
    transform: translateY(-10px);
}

.service-list-container h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.service-list-container p {
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    font-style: italic;
}

.service-list-container:hover p {
    display: block
}

.service-icons {
    width: 30%;
    height: 10vh;
    /* transition: transform 0.4s ease-in-out; */
}

.icon4 {
    width: 40%;
}

.service-list-container:hover .service-icons{
    display: none;
    /* transform: translateY(-100px); */
}




