.category-page {
    text-align: center;
    margin-top: 20px;
  }
  
  .category-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .category-ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .category-li {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  
  
  .category-li:hover {
    transform: scale(1.1);
  }
  
  .category-li:active {
    transform: scale(0.95);
  }
  