/* src/components/RegistrationForm.css */
.registration-container {
  display: flex;
  height: 100vh;
}

.left-section {
  background: linear-gradient(135deg, #d10dd4, #000000);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.welcome-message {
  text-align: center;
}

.rocket-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.login-button-r {
  background: white;
  color: #340c35;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.login-button-r:hover {
  background: #d10dd4;
  color: white;
}

.right-section {
  flex: 2;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.user-type-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.user-type-toggle button {
  background: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 10px;
}

.user-type-toggle .active {
  background: #340c35;
  color: white;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input, .form-row select {
  flex: 1;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.gender-selection {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.register-button {
  background: #340c35;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}