
.about-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    /* background: rgb(228,219,222); */
    color: rgb(22, 21, 105);
    flex-wrap: wrap;
    background-color: #ebebeb;
    background-image: url("../../assets/backgroung-1.png");
    background-position: center;
    background-size: cover;
}

.about-paragraph {
    width: 70%;
    text-align: justify;
    padding: 20px;
  
}

.about-heading {
   
    font-style: italic;
}